.saturn {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #50B3F2;
}

.blueBackground {
    background: #50B3F2;
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0px;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #152535;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    align-items: center;
    height: 100%;
    padding: 0;
}

.menu > li {
    list-style: none;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    color: #50B3F2;
}

.menuName {
    max-width: 200px;
}

.navLink {
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Exo 2";
    font-weight: bold;
    color: inherit;
}

.hamburger {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Exo 2";
    font-weight: bold;
    color: #50B3F2;
}

.hamburgerLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 900px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 899px) {
    .menu {
        flex-direction: column;
        align-items: unset;
    }

    .menu li {
        display: none;
    }

    .navbar {
        position: unset;
        top: unset;
        height: unset;
        flex-direction: column;
    }
}

@media (max-width: 599px) {
    .saturn {
        width: 100%;
    }

    .main {
        width: 90%;
    }
}

.menu > .navLinkSelected {
    color: #152535;
    background: #50B3F2;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main > * {
    padding: 1rem;
}

.logoWrapper {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    max-width: 800px;
    max-height: 300px;
}

.tag {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.horizontalTag {
    flex-direction: row;
}

.horizontalTag > .tagLine {
    flex: 1 0 40%;
}

.tagLine {
    font-size: 2.5rem;
    color: #152515;
    font-family: "Oswald";
}

.large {
    font-size: 3.5rem;
}

.tagBrief {
    font-size: 1.6rem;
    color: #152515;
    font-family: "Exo 2";
    line-height: 1.618;
}

.tagHolder {
    display: flex;
}

.dark {
    background: #152515;
    color: #50B3F2; 
}

.darkBlue {
    background: #152535;
    color: #50B3F2; 
}

.centered {
    align-self: center;
    justify-self: center;
}

.screenshot {
    margin: 1rem 0rem;
    display: flex;
    line-height: 1.618;
}

.screenshotDescription {
    font-size: 1.4rem;
    font-family: "Exo 2";
    width: 50%;
    padding: 1rem;
}

.screenshotImage {
    max-width: 100%;
}