.saturn {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkturquoise;
}

.blueBackground {
    background: darkturquoise;
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0px;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #152535;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    align-items: center;
    height: 100%;
    padding: 0;
}

.menu > li {
    list-style: none;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    color: #6495ED;
}

.navLink {
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Exo 2";
    font-weight: bold;
    color: inherit;
}

.hamburger {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Exo 2";
    font-weight: bold;
    color: #6495ED;
}

@media (min-width: 900px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 899px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: unset;
    }

    .navbar {
        position: unset;
        top: unset;
        height: unset;
        flex-direction: column;
    }

    .menu-name {
        display: none;
    }
}

@media (max-width: 599px) {
    .saturn {
        width: 100%;
    }

    .main {
        width: 90%;
    }
}

.menu > .navLinkSelected {
    color: #152535;
    background: #6495ED;
}

.main {
    display: flex;
    justify-content: center;
}

.logoWrapper {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    max-width: 800px;
}